body {
    font: normal 15pt Arial;
    background-image: url("relogio.jpg"); /*imagem de fundo */
    background-size: cover; 
    background-repeat: repeat; 
    background-position: center; 
    opacity: 0.9;
}

header {
    color: whitesmoke;
    text-align: center;
}

section {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

footer {
    background-color:#4b76a9; 
    color: white;
    text-align: center;
    font-style: italic;
    padding: 5px; 
    position: fixed; 
    bottom: 0;
    width: 100%;
    opacity: 0.8; 
}
